<div class="registration-form">
    <form [formGroup]="registrationForm" class="registration-form">
        <div class="login">
            <label for="login">Логин:</label>
            <input type="text" id="login" formControlName="login" autocomplete="off">
            <div class="mistake-description" *ngIf="registrationForm.controls['login'].invalid && registrationForm.controls['login'].touched">
                <div *ngIf="registrationForm.controls['login'].hasError('required')">
                    Необходимо ввести логин
                </div>
                <div *ngIf="registrationForm.controls['login'].hasError('maxlength')">
                    Максимальная длина - 20 символов
                </div>
            </div>
        </div>
        <div class="email">
            <label for="email">E-mail:</label>
            <input type="email" id="email" formControlName="email" autocomplete="off">
            <div class="mistake-description" *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
                Необходимо ввести e-mail
            </div>
        </div>
        <div class="password">
            <label for="password">Пароль:</label>
            <input type="password" id="password" formControlName="password" autocomplete="off">
            <div class="mistake-description" *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched">
                <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].dirty">
                    Пароль должен состоять из 8 символов<br>и иметь хотя бы одну латинскую букву и цифру
                </div>
                <div *ngIf="registrationForm.controls['password'].hasError('required')">
                    Необходимо ввести пароль
                </div>
            </div>
        </div>
        <span class="error">{{errorText}}</span>
        <button (click)="registerUser()" [disabled]="registrationForm.invalid">Зарегистрироваться</button>
    </form>
</div>