@import "../constants.less";

.registration-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24vh auto;

  form {
    background-image: linear-gradient(to bottom, @light-background-color, @dark-background-color);
    border-radius: 15px;
    box-shadow: 5px 5px 10px @dark-background-color;
    padding: 40px;

    @media (max-width: 375px) {
      padding: 40px 10px;
    }

    .credential {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin: 22px 5px;
    }

    label {
      padding: 2px 0;
      margin: 0 5px;
      color: @light-text-color;
      font-size: 1.8rem;
    }

    input {
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px @dark-background-color;
      outline: none;
      padding: 0 10px;
      height: 26px;
    }

    input.ng-touched.ng-invalid {
      border: solid @error-color 2px;
    }

    button {
      background-color: @light-button-color;
      color: @dark-text-color;
      border-radius: 8px;
      font-size: 1.8rem;
      border: 1px solid @dark-background-color;
      cursor: pointer;
      box-shadow: 2px 2px 5px @dark-background-color;
      transition: 0.3s ease;
      padding: 5px;
      margin: 10px 8px;
      width: calc(100% - 10px);

      &:hover:enabled {
        transform: scale(0.95, 0.95);
        box-shadow: 2px 2px 15px @dark-background-color;
      }
    }
  }

  span {
    margin: -10px auto;
    color: @light-text-color;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      text-decoration: underline;
      transform: scale(1.05, 1.05);
    }
  }

  .mistake-description {
    font-size: 1rem;
    margin: -18px 0 -17px 83px;
    color: @error-color;
  }

  .password .mistake-description {
    margin-bottom: -8px;
  }

  .error {
    display: flex;
    justify-content: center;
    color: @error-color;
    font-size: 1.2rem;
    height: 8px;
    font-weight: 500;
  }
}
