<div class="registration-form">
    <form action="" #form="ngForm">
        <div class="login">
            <div class="credential">
                <label for="login">Логин:</label>
                <input type="text" name="login" id="login" [(ngModel)]="login" #userLogin="ngModel" autocomplete="off" required maxLength="20">
            </div>
            <div class="mistake-description" *ngIf="userLogin.invalid && (userLogin.dirty || userLogin.touched)">
                <div *ngIf="userLogin.errors?.required">
                    Необходимо ввести логин
                </div>
                <div *ngIf="userLogin.errors?.maxLength">
                    Максимальная длина - 20 символов
                </div>
            </div>
        </div>
        <div class="email">
            <div class="credential">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" [(ngModel)]="email" #userEmail="ngModel" autocomplete="off" required email>
            </div>
            <div class="mistake-description" *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
                Необходимо ввести e-mail
            </div>
        </div>
        <div class="password">
            <div class="credential">
                <label for="password">Пароль:</label>
                <!-- <input type="password" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" autocomplete="off" required pattern="(?=.*[0-9])(?=.*[a-zA-Z]).{8,}"> -->
                <input type="password" name="password" id="password" [(ngModel)]="password" #userPassword="ngModel" autocomplete="off">
            </div>
            <div class="mistake-description" *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
                <div *ngIf="userPassword.errors?.pattern">
                    Пароль должен состоять из 8 символов<br>и иметь хотя бы одну латинскую букву и цифру
                </div>
                <div *ngIf="userPassword.errors?.required">
                    Необходимо ввести пароль
                </div>
            </div>
        </div>
        <button [disabled]="!form.valid" (click)="registerUser()">{{isUserAdmin?"Зарегистрировать":"Зарегистрироваться"}}</button>
        <div class="error-description">{{error}}</div>
    </form>
</div>