<div class="login-form">
    <form action="">
        <div class="email">
            <label for="email">E-mail:</label>
            <input type="text" name="email" id="email" [(ngModel)]="email" autocomplete="off">
        </div>
        <div class="password">
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" autocomplete="off">
        </div>
        <button (click)="loginUser()">Войти</button>
        <span> Нет аккаунта?
            <a href="/registration">Зарегистрироваться</a>
        </span>
    </form>
</div>