<div class="table-container">
    <div class="toolbar">
        <button class="update"></button>
        <button class="add" [routerLink]="[ '/registration' ]"></button>
        <button class="send-message"></button>
    </div>
    <table *ngIf="tabName==='users'" make-sortable>
        <tr>
            <!-- <th><input type="checkbox" name="selectAllUsers" id="selectAllUsers" (click)="selectAllUsers()"></th> -->
            <th>Логин</th>
            <th>E-mail</th>
            <th>Последнее посещение</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <tr *ngFor="let user of users">
            <!-- <td><input type="checkbox" name="selectUser" id="selectUser" ></td> -->
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td>{{user.lastLogin}}</td>
            <td>
                <button class="change-status" [ngClass]="{'enabled': user.userStatus==='DISABLED'}" (click)="changeUserStatus(user.objectId, user.userStatus)">{{user.userStatus==="DISABLED"?"Не активен":"Активен"}}</button>
            </td>
            <td>
                <button class="delete" (click)="deleteUser(user.objectId)"></button>
                <button class="send-message" [routerLink]="[ '/message', 'routeParam' ]"></button>
            </td>
        </tr>
    </table>
</div>