<div class="article-container">
    <div class="toolbar">
        <button class="block" *ngIf="isUserAdmin">Заблокировать</button>
    </div>
    <div class="article">
        <h2>{{article.title}}</h2>
        <span>{{article.created | formatToDate}}, <a [routerLink]="[ '/' ]">{{article.author.login}}</a> в <a [routerLink]="[ '/' ]">{{article.section.name}}</a></span>
        <p>{{article.text}}</p>
    </div>
    <comments-app [articleObjectId]="article.objectId" [canUserComment]="canUserComment"></comments-app>
</div>