<form [formGroup]="administrationForm" class="administration-group">
    <div class="tabs_wrapper">
        <input type="radio" value="users" formControlName="tabName" id="users" checked />
        <label class="tab" for="users">Пользователи</label>
        <input type="radio" value="articles" formControlName="tabName" id="articles" />
        <label class="tab" for="articles">Статьи</label>
        <input type="radio" value="sections" formControlName="tabName" id="sections" />
        <label class="tab" for="sections">Разделы</label>
        <span class="shape"></span>
    </div>

    <span [ngSwitch]="administrationForm.value.tabName">
        <user-table-app *ngSwitchCase="'users'"></user-table-app>
        <sections-table-app *ngSwitchCase="'sections'"></sections-table-app>
        <articles-table-app *ngSwitchCase="'articles'"></articles-table-app>
    </span>
</form>