<div class="articles-list-container">
    <div class="filter" *ngIf="this.currentUser.objectId">
        <div class="section">
            <label for="section">Раздел: </label>
            <select id="section" [(ngModel)]="sectionName" (change)="getArticles()">
                <option></option>
                <option *ngFor="let section of sections" [ngValue]="section.name" [selected]="section.name===sectionName">{{section.name}}</option>
            </select>
        </div>
        <div class="user">
            <label for="user">Автор: </label>
            <select id="user" [(ngModel)]="authorLogin" (change)="getArticles()">
                <option></option>
                <option *ngFor="let user of users" [ngValue]="user.login" [selected]="user.login===authorLogin">{{user.login}}</option>
            </select>
        </div>
        <div>
            <button class="add" [routerLink]="[ '/addArticle' ]"></button>
            <button class="update" (click)="getArticles()"></button>
        </div>
    </div>
    <div class="articles-container">
        <div *ngIf="articles.length>0; else noArticles">
            <div class="article" (click)="openArticle(article)" *ngFor="let article of articles">
                <h2>{{article.title}}</h2>
                <span>{{article.created | formatToDate}}, <a [routerLink]="[ '/articles', article.author.login, '' ]">{{article.author.login===""?"DELETED":article.author.login}}</a> в <a [routerLink]="[ '/articles', '', article.section.name ]">{{article.section.name}}</a></span>
                <p>{{article.isDisabled?"Статья заблокирована администратором":(article.section.isApproved?article.text:"Раздел еще не подтвержден администратором")}}</p>
            </div>
        </div>
    </div>
    <ng-template #noArticles>
        <h3>Здесь пока совсем пусто...</h3>
    </ng-template>
</div>